.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)) ,url(../../../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ban_con{
    padding-top: 100px;
    padding-bottom: 30px;
}

.heading{
    font-size: 36px;
}
.para{
    font-size: 18px;
}

@media (max-width: 575.98px) { 
    .heading{
        font-size: 17px;
    }
    .para{
        font-size: 12px;
    }
 }
