.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)) ,url(../../../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ban_con{
    padding: 70px 0;
}